body {
    background-image: linear-gradient(135deg, #dda1dd, #88c6ef);
    height: 100vh;
}



#fotoViih {
    background-image: url("assets/photos/viih.jpg");
    height: 255px;
    width: 255px;
    background-size: cover;
    background-position: 0 15%;
    border-radius: 50%;
}

h1 {
    color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-size: 1.5rem; /* 24px / 16px (padrao) = 1.5rem */
    font-weight: 400;
    margin: 33px 0px 27px 0px;
    text-align: center;
}

.buttonSocial {
    display: flex;
    align-items: center;
    border-radius: 50px;
    width: 255px;
    height: 40px;
    background-color: #00000030;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 27px;
    cursor: pointer;
    padding-left: 70px;
    
    img {
        height: 24px;
    }
    
    p {
        font-size: 1.125rem; /* 18px / 16px (padrao) = 1.125rem */
        padding-left: 15px;
    }

}

.instaButton {
        background-color: #00000095;
}

#contentParent{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

